*{
   box-sizing: border-box;
}

.hero{
   height: 800px;
   background-color:#f4f5f7; 
   padding: 70px 390px 190px;
}

.header{
   color: #95989a;
   font-size: 20px;
   display: flex;
   justify-content: space-between;
}

.wrapper-main{
   margin-top: 160px;
   display: flex;
   justify-content: space-between;
   height: 600;
}

.subtitle{
   color: #32325f;
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 20px;
   display: block;
}

.title{
   display: block;
   font-size: 48px;
   color: #32325f;
   margin-bottom: 30px;
}


.main-text__span{
   font-size: 20px;
   color: #32325f;
   display: block;
}

.main-text__price-tag{
   display: block;
   font-size: 20px;
   color: #32325f;
   margin-top: 25px;
}
.main-text__price{
   color: #525f7f;
   font-size: 48px;
   margin-top: 15px;
}

.button-buy{
   background-color: #2dce89;
   border: none;
   color: #fff;
   width: 200px;
   height: 60px;
   font-size: 20px;
   border-radius: 10px;
}

.button-explore{
   background-color: #5e72e4;
   border: none;
   font-size: 20px;
   border-radius: 10px;
   height: 60px;
   width: 250px;
   color: #fff;
   margin-left: 20px;
}

.main__img{
   width: 500px;
   height: 305px;
}

.about{
   padding: 90px 390px;
   height: 700px;
}
.wrapper-content{
   margin-top: 100px;
   display: flex;
}

.wrapper-content__item{
   width: 250px;
   margin-right: 70px;
}

.wrapper-content__text{
   display: block;
   font-size: 16px;
   color: hsl(223, 22%, 41%);
   margin-top: 40px;
}

.people{
   height: 1000px;
   padding: 130px 390px;
   background-color:#f4f5f7;
}

.people-wrapper__img{
   width: 360px;
   height: 255px;
   margin-bottom: 30px;
}

.people-wrapper{
   margin-top: 100px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.footer{
   background-color: #32325f;
   height: 300px;
   padding: 70px 390px 100px 390px;
   color: #fff;
   display: flex;
   justify-content: space-between;
}

.footer-container__title{
   font-size: 24px;
   margin-bottom: 40px;
}

.footer-container{
   width: 230px;
}

.footer-container__text{
   font-size: 16px;
   display: block;
}

.footer-container__link{
   font-size: 16px;
   display: block;
   text-decoration: none;
   color: #fff;
}
