body{
   background-color: #f6f6f6;
}
.title{
   text-align: center;
   font-size: 40px;
}

.products-wrapper{
   display: flex;
   justify-content: space-around;
   margin: 100px 150px;
   text-align: center;
}

.products-item__img{
   width: 250px;
   height: 200px;
}

.products-item__text{
   margin-top: 30px;
}

.products-item__button{
   width: 200px;
   height: 50px;
   margin-top: 30px;
   background-color: #f6f6f6;
   border: 2px solid #00fff2;
   color: #00fff2;
   font-size: 20px;
}