*{
   box-sizing: border-box;
}

.hero{
   padding: 70px 20% 190px 20%;
   background-color: #f4f5f7;
   min-width: 320px;
}

.navbar{
   color: #95989a;
   font-size: 20px;
   margin-bottom: 160px;
}

.title{
   font-size: 48px;
   margin-top: 20px;
   color: #32325f;
   margin-bottom: 30px;
}

.subtitle{
   color: #32325f;
   font-size: 20px;
}

.main-text__span{
   font-size: 20px;
   color: #32325f;
   margin-bottom: 25px;
}

.main-text__price-tag{
   color: #32325f;
   font-size: 20px;
   margin-bottom: 15px;
}

.main-text__price{
   font-size: 48px;
   color: #95989a;
   margin-bottom: 50px;
}

.button-buy{
   background-color: #2dce89;
   width: 210px;
   height: 65px;
   font-size: 20px;
   text-align: center;
   border: none;
   color: #fff;
   border-radius: 5px;
   margin-right: 30px;
   margin-bottom: 30px;
}

.button-explore{
   width: 250px;
   height: 65px;
   font-size: 20px;
   text-align: center;
   border: none;
   color: #fff;
   border-radius: 5px;
   background-color: #5e72e4;
   margin-bottom: 100px;
}

.main__img{
   width: 504px;
   height: 330px;
}

.about{
   padding: 70px 20% 160px 20%; 
}

.wrapper-content__img{
   display: block;
   margin: 100px 0px 50px 0px;
}

.wrapper-content__text{
   width: 230px;
   color: #525f7f;
   font-size: 18px;
}

.people{
   background-color: #f4f5f7;
   padding: 90px 20% 110px 20%;
}

.people-wrapper{
   margin-top: 70px;
}

.people-wrapper__img{
   margin-bottom: 35px;
}

.footer{
   padding: 70px 20% 110px 20%;
   background-color: #32325f;
   color: #fff;
}

.footer-container__text{
   font-size: 16px;
   display: block;
}

.footer-container__link{
   font-size: 16px;
   display: block;
   text-decoration: none;
   color: #fff;
}

@media screen and (max-width: 1671px){
   .col-xl-6{
      width: 100%;
   }
   .main__img{
      width: 560px;
      height: 365px;
   }
}

@media screen and (max-width: 992px){
   .main__img{
      width: 390px;
      height: 266px;
   }
   .footer-container__title{
      margin-bottom: 10px;
   }

   .footer-container{
      margin-bottom: 30px;
      text-align: center;
   }
   .navbar{
      margin-bottom: 60px;
   }
   .wrapper-content__item{
      text-align: center;
      margin-bottom: 50px;
   }
   .wrapper-content__img{
      margin: 30px auto;
   }
}